<!DOCTYPE html>
<html lang="ja">

<head>
  <title>hogehoge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="hogehoge">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" href="/dcms_media/css/style.css">
  <!-- js -->
  <script type="text/javascript" src="/dcms_media/js/site-common.js"></script>

</head>

<body class="<%- typeof(top) !== 'undefined' ? 't-top' : 't-under'; %> <%- typeof(page) !== 'undefined' ? 't-'+page : ''; %>">

  <main class="l-main">